@charset "UTF-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
}

		body{
			font-family: Times New Roman, Times, Cambria, Hoefler Text, Liberation Serif, serif;
		}

h1{
	font-weight: normal;
	position: absolute;
	font-size: 150px;
	margin: -70px 0px 0px 15%;
	
	
}
		
		.h2{
			font-size: 25px;
				font-weight: lighter;
	
}

.mj {
	margin: 150px 0px 0px 15%;
	float: left;
	
}

.about {
	float: left;
	margin: 150px 0px 0px 40%;
	
}

.project {
	float: left;
	margin: 150px 0px 0px 13%;
}

.aboutp {
	float: left;
	margin: 5% 0px 0px 63.55%;
	color: black;
	
}

.links  {
	 text-decoration: none;
	float: left;
	margin: 5% 0px 0px 6.5%;
	outline: none;
 
}
a:link{
	text-decoration: none;
	color: black;
	outline: none;
}

a:visited{
	text-decoration: none;
	color: black;
	outline: none;
}

a:hover{
	text-decoration: none;
	color: black;
	outline: none;
	color: #AEAEAE
}




		
	</style>