@charset "UTF-8";
/* CSS Document */

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
}

		body{
			font-family: Times New Roman, Times, Cambria, Hoefler Text, Liberation Serif, serif;
		}

h1{
	font-weight: normal;
	position: absolute;
	font-size: 150px;
	margin: -70px 0px 0px 15%;
	
	
}
		
		.h2{
			font-size: 25px;
				font-weight: lighter;
	
}

.mj {
	margin: 150px 0px 0px 15%;
	float: left;
	
}

.about {
	float: left;
	margin: 150px 0px 0px 40%;
	
}

.project {
	float: left;
	margin: 150px 0px 0px 13%;
}

.aboutp {
	float: left;
	margin: 5% 0px 0px 63.55%;
	color: white;
	
}

.plist  {
	 text-decoration: none;
	float: left;
	margin: 5% 0px 0px 6.5%;
	color: white;
	outline: none;
 
}

a:link {
	text-decoration: none;
	color: white;
	outline: none;
}


.aboutsq{
	position: absolute;
	margin: 180px 0px 0px 63.55%;
	width: 160px;
  	height: 3px;
  	background: #cc9900;
  	transition: height 2s;
	z-index: -1;
}

.aboutsq:hover{
	
	height: 1000px;
}

.projectsq{
	position: absolute;
	margin: 180px 0px 0px 79%;
	width: 250px;
 	height: 3px;
  	background: #045648;
 	transition: height 3s;
	z-index: -1;
}

.projectsq:hover {
	height: 1000px;
	
}
		
	</style>
